.item-box{
  display: none;
}

.item-box.shown{
  display: block;
}

li {
  list-style-type: none;
}

.start_screen{
  display: block;
}

.start_game{
  display: block;
  width: 150px;
  height: 50px;
}


.start_screen{
  display: block;
}
.leaderboard_screen{
  display: none;
}
.battle_screen{
  display: none;
}
.settings_screen{
  display: none;
}
.home_screen{
  display: none;
}


th{
  text-align: left;
}

tr th{
  width: 100px;
}